* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: row;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20vw;
    height: 100vh;
}

#maincontent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80vw;
    height: 100vh;
}

.projectbox {
    display: flex;
    flex-direction: row;
}

.taskbox {
    display: flex;
    flex-direction: row;
}

.listedtasks {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.prioritylow {
    background-color: pink;
}

.priorityhigh {
    background-color: red;
}